<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

  <!-- *************************************************** -->
  <!--                  Transaction SERVICES               -->
  <!-- *************************************************** -->
  <import resource="tx-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  CORE SERVICES                      -->
  <!-- *************************************************** -->
  <import resource="core-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  ASPECTS                            -->
  <!-- *************************************************** -->
  <import resource="aop-beans.xml"/>

  <!-- *************************************************** -->
  <!--               HELPERS                               -->
  <!-- *************************************************** -->
  <import resource="helper-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  DATA ACCESS LAYER                  -->
  <!-- *************************************************** -->
  <import resource="data-access-layer-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  indexer                            -->
  <!-- *************************************************** -->
  <import resource="extfile:///./config/index-configuration/indexer-beans.xml" />

  <!-- *************************************************** -->
  <!--                  API                                -->
  <!-- *************************************************** -->
  <import resource="api-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  RESTFul Services                   -->
  <!-- *************************************************** -->
  <import resource="restful-webservice-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  SOAP Based web services            -->
  <!-- *************************************************** -->
  <!--<import resource="soap-webservice-beans.xml"/>-->
  
  <!-- *************************************************** -->
  <!--                  Cache related configuration        -->
  <!-- *************************************************** -->
  <import resource="cache-beans.xml"/>

  <!-- *************************************************** -->
  <!--                  JMX Bean related configuration     -->
  <!-- *************************************************** -->
  <import resource="jmx-beans.xml"/>

</beans>
